<h1><%=@pirate.name%>'s Info</h1>
<p>Name: <%=@pirate.name%></p>
<p>Weight: <%=@pirate.weight%></p>
<p>Height: <%=@pirate.height%></p>

<h2><%=@ship_1.name%>'s Info</h2>
<p>Ship 1 Name: <%=@ship_1.name%></p>
<p>Ship 1 Type: <%=@ship_1.type%></p>
<p>Ship 1 Booty: <%=@ship_1.booty%></p>

<h2><%=@ship_2.name%>'s Info</h2>
<p>Ship 2 Name: <%=@ship_2.name%></p>
<p>Ship 2 Type: <%=@ship_2.type%></p>
<p>Ship 2 Booty: <%=@ship_2.booty%></p>